<% include partials/header %>
   <div class="ui main text container">
   	<div class="ui huge header">Movie Results</div>
    <div class="ui top attached segment">
<div class="ui divided items">
	<% data.Search.forEach(function(movie){ %>
	 <div class="item">
	    <div class="image">
	      <img src="<%= movie.Poster %>">
	    </div>
	    <div class="content">
	      <a class="header"><%= movie.Title %></a>
	      <div class="extra">
	        <a href="/movies/<%=movie.imdbID %>">
                <button class="ui blue basic button">Read More</button>
	        </a>
	      </div>
	    </div>
	  </div>
	<% }); %>
</div>
</div>
    
  </div>
<% include partials/footer %>