<% include partials/header %>


<main class="ui page grid">
        <div class="row">
            <div class="column">
                <div class="ui message main">
                    <h1 class="ui header centered">Search for your favorite movie!</h1>
                    <form class='ui form'>
                        <div class="field">
                            <input type="text" name="search_input" placeholder="search for movie">
                        </div>
                    </form>
                    <a href="/results" class="ui blue button centered" id="search_button">Go and Search</a>
                </div>
            </div>
        </div>
</main>



<% include partials/footer %>