body {
  background-color: #232323;
  font-family: 'Roboto', sans-serif;
}

#messageDisplay {
  color: black;
  font-size: 16px;
}

#container {
  margin: 0 auto;
  max-width: 600px;
}

.square {
  width: 30%;
  background: purple;
  margin: 1.66%;
  border-radius: 25%;
  float: left;
  padding-bottom: 30%;
}

.h1-class {
  text-align: center;
  color: #fff;
  padding: 10px;
}

#stripe {
  background: #fff;
  height: 30px;
  text-align: center;
  margin: 10px 0px;
}