<h1>Sign up form!</h1>

<form action="/register" method="POST">
    <div>
        <label>Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <button type="">Sign Up!</button>
    </div>
</form>
<br>

<li><a href="/">Return to home page</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>