<h1>this is the secret page!</h1>
<h2>You found me!</h2>
<img src="https://i2.wp.com/www.cafezuswijchen.nl/wp-content/uploads/2016/11/BIEREN-CAFE-ZUS35.jpg?fit=600%2C600" alt="">

<li><a href="/">Return to home page</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>