<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--  <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
    <h1>The Movie Results Page!</h1>

    <% data.Search.forEach(function(movie) { %>
<ul>
    <li>
      <strong> <%= movie.Title %> </strong> 
      - <%= movie.Year %>
    </li>

</ul>
  <%  }) %>

  <a href="/"><button style='background:lightgreen;'>Search Again!</button></a>
    </body>
</html>